@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-gray: #7D818A;
  --color-red: #EF4444;
  --color-cyan: #59D7F0;
}


body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato;
}